<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">News App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link {{category === 'general' ? 'active' : ''}}" (click)="onCategoryChange('general')">General</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link {{category === 'business' ? 'active' : ''}}" (click)="onCategoryChange('business')">Business</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link {{category === 'entertainment' ? 'active' : ''}}" (click)="onCategoryChange('entertainment')">Entertainment</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link {{category === 'health' ? 'active' : ''}}" (click)="onCategoryChange('health')">Health</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link {{category === 'science' ? 'active' : ''}}" (click)="onCategoryChange('science')">Science</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link {{category === 'sports' ? 'active' : ''}}" (click)="onCategoryChange('sports')">Sports</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link {{category === 'technology' ? 'active' : ''}}" (click)="onCategoryChange('technology')">Technology</button>
                </li>
            </ul>
            <form class="d-flex" role="search" [formGroup]="searchForm" (ngSubmit)="searchQuerySubmit()">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" formControlName="query">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>